*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.auth-container {
  display: flex;
  justify-content: center;
  gap: 124px;
  margin-top: 60px;
  position: relative;
}
h2{
  font-size: clamp(16px,4vw,28px);
}
.form-box {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}
#or{
  position: absolute;
  top: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.authChoice{
  font-weight:bolder;
}
@media(min-width:0px) and (max-width:1030px){
  .auth-container{
    flex-direction: column;
  }
  #or{
    left: 42%;
    top: 48%;
  }
}
